@import url("https://fonts.googleapis.com/css?family=Assistant:400,700");


:root {
 --myrtle-green: rgb(48, 73, 85);
 --myrtle-green-darker: rgba(25, 55, 68, 0.506);
 --default-font-color: rgb(213, 221, 224);
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;

    font-family: "Assistant", Arial, Helvetica, sans-serif;
    background: var(--myrtle-green);
    color: var(--default-font-color);
}

a {
    text-decoration: none;
    color: var(--default-font-color)
}

#container {
    width: 100%;
}

#about {
    width: 100%;
    height: 400px;
    margin-top: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    background: var(--myrtle-green-darker);
}

#about img {
    top: -150px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
}

#about-content {
    padding-top: 130px;
    text-align: center;
}

#about-name {
    font-size: 70px;
}

#about-location {
    font-size: 20px;
}

#about-description {
    padding: 20px;
    font-size: 22px;
}

#skills {
    padding-top: 100px;
    padding-bottom: 80px;
    text-align: center;
    background: var(--myrtle-green-darker);
}

#skills h2 {
    font-size: 35px;
}

#skills div {
    padding-top: 40px;
}

#skills img {
    width: 100px;
    height: 100px;
    padding: 15px;
}

#skills #img-js {
    border-radius: 200px;
}

#projects {
    margin-top: 150px;
}

#projects h2 {
    font-size: 35px;
    text-align: center;
}

#cards {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 250px;
    margin: 30px;
    padding: 35px;

    box-sizing: border-box;

    background: var(--myrtle-green-darker);
}

.card:hover {
    transition: .5s;
    background: rgb(24, 54, 66);
}

.card h3 {
    font-size: 20px;
}

.card p {
    padding-top: 20px;
    font-size: 16px;
}

footer {
    margin-top: 100px;
    height: 40px;
    background: var(--myrtle-green-darker);
}

#footer-icons {
    text-align: center;
}

#footer-icons .fab {
    padding: 10px;

    font-size: 22px;
    color: rgba(213, 221, 224, .6);
}

#footer-icons .fab:hover {
    color: var(--default-font-color);
}